* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body {
    min-height: 100vh;
    background: linear-gradient(135deg, #1f4037, #99f2c8);
    display: flex;
    align-items: center;
    justify-content: center;
}

.weather-container {
    width: 340px;
    padding: 30px;
    border-radius: 20px;
    background: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(15px);
    box-shadow: 0 20px 50px rgba(0, 0, 0, 0.25);
    text-align: center;
}

.weather-container h1 {
    color: #fff;
    margin-bottom: 5px;
}

.subtitle {
    color: #e0f7f3;
    font-size: 14px;
    margin-bottom: 20px;
}

.search-box {
    display: flex;
    gap: 10px;
    margin-bottom: 25px;
}

.search-box input {
    flex: 1;
    padding: 10px;
    border-radius: 25px;
    border: none;
    outline: none;
    font-size: 14px;
}

.search-box button {
    padding: 10px 18px;
    border-radius: 25px;
    border: none;
    cursor: pointer;
    background: #ffffff;
    font-weight: 600;
    transition: 0.3s;
}

.search-box button:hover {
    background: #e0f7f3;
}

/* weather card */
.weather-card {
    background: rgba(255, 255, 255, 0.25);
    border-radius: 16px;
    padding: 20px;
    color: #fff;
}

.weather-card h2 {
    font-size: 20px;
    margin-bottom: 8px;
}

.temp {
    font-size: 40px;
    font-weight: 600;
    margin: 10px 0;
}

.condition {
    font-size: 14px;
    margin-bottom: 15px;
}

.details {
    display: flex;
    justify-content: space-between;
}

.details div {
    width: 45%;
    background: rgba(255, 255, 255, 0.3);
    border-radius: 12px;
    padding: 10px 0;
}

.details span {
    font-size: 12px;
    color: #e0f7f3;
}

.details p {
    font-size: 16px;
    font-weight: 600;
}